body{
  background-image: url("bg.png");
}

body h2, h1{
  text-align: center;
  color : white;
}

#enemy1, #enemy2, #enemy3, #enemy4{
  background-image: url("enemy.png");
  background-size: cover;
  height: 40px;
  width: 40px;
  position: absolute;
}

#hero{
  background-image: url("hero.png");
  background-size: cover;
  height: 50px;
  width: 50px;
  position: absolute;
}

.beam{
  background-image: url("beam.png");
  background-size: cover;
  height: 20px;
  width: 5px;
  position: absolute;
}
